---
layout: default
title: Contact Me
previous_url: /Michael/
---
<h2>Contact Me</h2>

<div class="contact">
  <small>📧</small>
  <a href="mailto:michael@mechstack.dev" target="_blank">michael@mechstack.dev</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/GitHub-Mark-Light-32px.png' title='Github Icon' %}
  <a href="https://github.com/smwa/" target="_blank">github.com/smwa</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/linkedin.png' title='LinkedIn Icon' %}
  <a href="https://linkedin.com/in/michael-smith-ok" target="_blank">linkedin.com/in/michael-smith-ok</a>
</div>
