---
layout: default_child
title: Contact Me
previous_url: /Michael/
---
<h2>Contact Me</h2>

<div class="contact">
  <small>📧</small>
  <a href="mailto:michael.smith.ok@gmail.com" target="_blank">michael.smith.ok@gmail.com</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/GitHub-Mark-Light-32px.png' title='Github Icon' %}
  <a href="https://github.com/smwa/" target="_blank">github.com/smwa</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/facebook_32.png' title='Facebook Icon' %}
  <a href="https://www.facebook.com/michael.w.smith.ok/" target="_blank">facebook.com/michael.w.smith.ok</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/linkedin.png' title='LinkedIn Icon' %}
  <a href="https://linkedin.com/in/michael-smith-ok" target="_blank">linkedin.com/in/michael-smith-ok</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/steam.png' title='Steam Icon' %}
  <a href="https://steamcommunity.com/profiles/76561198011969367/" target="_blank">steamcommunity.com/profiles/76561198011969367/</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/spotify.png' title='Spotify Icon' %}
  <a href="https://open.spotify.com/user/michael.smith.ok" target="_blank">open.spotify.com/user/michael.smith.ok</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/bitcoin.png' title='Bitcoin Icon' %}
  <a href="bitcoin:bc1qgtmffjw542zqek7snj3np4uy8py4au4jvuknjp" target="_blank">bitcoin:bc1qgtmffjw542zqek7snj3np4uy8py4au4jvuknjp</a>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/venmo.png' title='Venmo Icon' %}
  <span>Venmo: @mettle</span>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/discord.png' title='Discord Icon' %}
  <span>Discord: Mettle#8129</span>
</div>

<div class="contact">
  {% include picture.html url='/assets/icons/nintendo.png' title='Nintendo Icon' %}
  <span>Nintendo Switch: SW-7755-9487-8676</span>
</div>

