.console a {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

.console a:hover {
    color: #ccccff;
}

.console-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: radial-gradient(
        rgb(6, 44, 6), black 120%
    );
}

.console * {
    transition-duration: 100ms;
    transition-property: color, text-shadow;
}

.console {
    text-shadow: 0 0 2px #C8C8C8;
    font: 1.3rem Inconsolata, monospace;
    color: #dddddd;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    letter-spacing: 0.03em;
    line-height: 1.45em;
}

.console-input {
    background-color: #000000;
    border: 0;
    width: 0.0001vw;
    height: 0.0001vh;
    resize: none;
    opacity: 0;
}

.console::after {
    content: "|";
    animation: blinker 1.4s linear infinite;
    margin-left: -0.15em;
    font-weight: bold;
}

@keyframes blinker {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}