<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael Smith - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/index.css">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

    <meta name="description" content="A home page to get up-to-date information on Michael Smith, the software engineer from Oklahoma.">
    <meta name="theme-color" content="#062C06">

    <!-- Open Graph Meta -->
    <meta content="Michael Smith" property="og:site_name">
    <meta content="Michael Smith" property="og:title">
    <meta content="website" property="og:type">
    <meta content="A home page to get up-to-date information on Michael Smith, the software engineer from Oklahoma." property="og:description">
    <meta content="{{ '.' | absolute_url }}" property="og:url">
    <meta content="{{ '/assets/icons/favicon.png' | absolute_url }}" property="og:image">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@smwa_ok">
    <meta name="twitter:creator" content="@smwa_ok">
    <meta name="twitter:title" content="Michael Smith">
    <meta name="twitter:url" content="{{ '.' | absolute_url }}">
    <meta name="twitter:description" content="A home page to get up-to-date information on Michael Smith, the software engineer from Oklahoma.">
    <meta name="twitter:image:src" content="{{ '/assets/icons/favicon.png' | absolute_url }}">

    <link rel="icon" type="image/png" href="{{ '/assets/icons/favicon.png' | relative_url }}">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/icons/apple-mask-icon.svg" color="#062C06">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icons/apple-touch-icon.png">

  </head>
  <body class="console-background">
    <div class="console gyro-transform">
      {{ content }}
    </div>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ 'service-worker.js' | relative_url }}");
      }

      const DEGRADATION_RATE = 20;
      const ROLL_MULTIPLIER = 0.25;
      const ROTATION_TO_TRANSLATION = 0.65; // degrees over pixels

      // In degrees
      const rotation = {
        yaw: 0,
        pitch: 0,
        roll: 0,
      }
      let last_degradation_timestamp = null;
      let last_motion_timestamp = null;

      const degrade = (timestamp) => {
        window.requestAnimationFrame(degrade);
        if (last_degradation_timestamp === null) {
          last_degradation_timestamp = timestamp;
          return;
        }
        const element = document.getElementsByClassName('gyro-transform').item(0);
        element.style.transform = `rotate(${rotation.roll * ROLL_MULTIPLIER}deg) translate(${rotation.yaw / ROTATION_TO_TRANSLATION}px, ${rotation.pitch / ROTATION_TO_TRANSLATION}px)`;

        const time_passed = (timestamp - last_degradation_timestamp) / 1000;
        last_degradation_timestamp = timestamp;

        const percentage_adjustment = 1/(Math.pow(1 + DEGRADATION_RATE, time_passed));
        rotation.yaw *= percentage_adjustment;
        rotation.pitch *= percentage_adjustment;
        rotation.roll *= percentage_adjustment;
      };
      window.requestAnimationFrame(degrade);

      addEventListener('devicemotion', (event) => {
        if (last_motion_timestamp === null) {
          last_motion_timestamp = performance.now();
          return;
        }
        const timestamp = performance.now();
        const time_passed = (timestamp - last_degradation_timestamp) / 1000;
        last_motion_timestamp = timestamp;
        
        if (event.rotationRate.alpha !== null) {
          rotation.pitch += event.rotationRate.alpha * time_passed;
        }
        if (event.rotationRate.beta !== null) {
          rotation.yaw += event.rotationRate.beta * time_passed;
        }
        if (event.rotationRate.gamma !== null) {
          rotation.roll += event.rotationRate.gamma * time_passed;
        }
      });
    </script>
  </body>
</html>
