<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael Smith - {{ page.title }}</title>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon.png">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/icons/apple-mask-icon.svg" color="#FFFFFF">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icons/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/index.css">
    <link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json">
  </head>
  <body class="console-background">
    <div class="console">
      {{ content }}
    </div>
  </body>
</html>
